<!DOCTYPE html>
<html>
  <head>
    <title>The Big Picture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">

      <div class="float-right">
        <%= link_to 'See Quotes Here', new_comment_path %>
      </div>
    </header>

    <hr />


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Comment here!</h4>
          </div>
          <%= simple_form_for Comment.new do |f| %>
            <div class="modal-body">
              <%= f.input :saying %>
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Enter', class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>   

    <br class="clear" />


    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[error].html_safe %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
            <%= link_to "Home", root_path, class: 'next-quote' %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
